{% extends 'base.html.twig' %}

{% block body %}
	<h1>Change Password</h1>
	{{ form_start(changePasswordForm, {'method': 'POST'}) }}
	{{ form_errors(changePasswordForm) }}
	{{ form_row(changePasswordForm.plainPassword) }}
	<button type="submit">Changer le mot de passe</button>
	{{ form_end(changePasswordForm) }}
{% endblock %}
